{% extends "base.html" %}
{% block title %}Create Admin User{% endblock %}
{% block content %}
<div class = "container mt-5">
<h1 class="text-center text-warning mb-4">ADMIN CREATION</h1>
<div class="card shadow-sm border-0 col-md-6 mx-auto">
<form method="POST">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input name="username" type="text" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input name="email" type="email" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">First Name</label>
          <input name="firstname" type="text" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Last Name</label>
          <input name="lastname" type="text" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          <input name="password" type="password" class="form-control" required>
        </div>

        <div class="mb-3">
          <label class="form-label">Confirm Password</label>
          <input name="confirm_password" type="password" class="form-control" required>
        </div>

        <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" name="is_admin" id="is_admin" checked>
            <label class="form-check-label" for="is_admin">Administrator?</label>

        </div>

        <button type="submit" class="btn btn-warning text-dark fw-bold w-100 mt-3">CREATE</button>
    </form>


</div>
</div>    

{% endblock %}