{% extends "base.html" %} {% block title %}Order{% endblock %} {% block content
%}
<h1 class="mb-4">Order List</h1>

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>OrderID</th>
      <th>Username</th>
      <th>Stock Ticker</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    {% for o in user_orders %}
    <tr>
      <td>{{ o.order_id }}</td>
      <td>{{ o.user.username }}</td>
      <td>{{ o.stock.stock_ticker }} ({{ o.stock.company }})</td>
      <td>{{ o.quantity}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr />

<h2>Add Order</h2>
<form action=" {{url_for('add_order')}}" method="POST" class="gap-2">
  
    <input type="text" name="stock_id" class="form-control w-25" id="stock_id" required>
    <label for="stock_id" class="w-50">Stock ID</label>

    <input type="number" name="quantity" class="form-control w-25" id="quantity" required>
    <label for="quantity" class="form-label">Quantity</label>

    <button type="submit" class="btn btn-success flex-shrink-0">Buy</button>

</form>
<hr />

<h2>Sell (Remove from Orders)</h2>
<form action="" method="get" onsubmit="sellOrder(event)">
  <div class="mb-3">
    <label for="sell_order_id" class="form-label">OrderID</label>
    <input type="number" class="form-control" id="sell_order_id" required />
  </div>
  <button type="submit" class="btn btn-danger">Sell</button>
</form>
<script>
  function sellOrder(event) {
    event.preventDefault();
    const id = encodeURIComponent(
      document.getElementById("sell_order_id").value
    );
    window.location.href = `/orders/sell/${id}`;
  }
</script>

<script>
  function addOrder(event) {
    event.preventDefault();
    const user_id = encodeURIComponent(document.getElementById("user_id").value);
    const id = encodeURIComponent(document.getElementById("id").value);
    const quantity = encodeURIComponent(document.getElementById("quantity").value);                                                                        
    window.location.href = `/orders/add/${user_id}/${id}/${quantity}`;
  }
</script>
{% endblock %}
